body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:#003e46;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

img{
	width:40%;
	height:40%;
}