body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:#003e46;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
    color:black;
}

img{
	width:40%;
	height:40%;
}

td{
   
    font-size: 20px;
	background-color: #a8a8a8;
	border: 0px ;
	border-color:#003e46;
}

table{
    border-color: white;
	border-collapse: separate !important;
	border-radius: 6px !important;
    
}

.mesmo-tamanho {
    width: 160px;
    height: 40px;
    white-space: normal;
}

.row{
    display: block;
}

#botao-voltar{
	
	position:absolute;
	left:47%;
	
}