body{
    padding:.5em;
    background:#003e46;
}


.container {
margin-bottom:75px;
padding:1em;
background-color:#eee;
border:3px solid #ddd;
}

.img-container {
  float: left;
  width: 100%;
  height:100%;
  
}

.floatedbox {
float:left;
width:125px;
height:185px;
margin-right:1em;
padding:0 10px;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
border:3px solid #bbb;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}