body{
    padding:.5em;
    background:#003e46;
}

#botao-voltar{
	
	position:absolute;
	left:47%;
	
}

.container {
margin-bottom:20px;
padding:1em;
background-color:#eee;
border:3px solid #ddd;
width: auto;
max-width: 400px;
min-width: 203px;
margin-right: auto;
margin-left: auto;
}

img{
	height: 185px;
	width: 125px;
	
}

.floatedbox {
float:left;
width:125px;
height:185px;
margin-right:1em;
padding:2px;
background-size:cover;
background-repeat:no-repeat;
background-color:#fff;
border:3px solid #bbb;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.tela-voto{
	max-height:135px;
	height: 135px;
    max-width: 120px;
    width: 120px;
    font-size: 28pt;
    background: #eeeeee;
}