body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}
.body-container {
  max-width: 680px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.header { 
  margin: 0 auto;
  background: #16272a;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.main-heading {
  margin: 0 auto;
  background: #2aabb2;
  text-align: center;
  color: white;
  padding: 4px 0;
  line-height: 20%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2aabb2;
  margin: 0 auto;
}

.main-score {
  font-size: 80px;

  background: #f8f8f8;
  text-align: center;
  color: #2aabb2;
}
.score-number {
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  color: #16272a;
}
.score-title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}
.sub-heading {
  width: 200px;
  margin: 0 auto;
  background: #2aabb2;
  text-align: center;
  color: white;
  border-radius: 4px 4px 0 0;
  text-transform: uppercase;
  font-size: 12px;
  padding:8px 0 4px 0;
}

.chart {
  margin: 0 auto;
  background: #f8f8f8;
  text-align: center;
  color: #2aabb2;
  border-top: solid 3px #2aabb2;
}

table {
  padding: 5px 20px 20px 20px;
  background-color: white;
}

.name {
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
  padding: 14px 4px;
}

.value {
  color: #16272a;
  text-align: left;
  border-bottom: 2px solid #2aabb2;
  padding: 14px 30px;
  margin-left: 10px;
  line-height: 30px;
}

table {
 border-bottom: 2px solid #ddd;
}

.button-container {
  margin: 0 auto;
  background: #f8f8f8;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.button-container p {
  font-size: 11px;
  margin-bottom: 0;
  color: #aaa;
  line-height: 20px;
}
.button {
    width: 140px;
    margin: 0 auto;
    display: block;
    background-color: #f5a533;
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding:  6px 5px;
    border: 1px solid #de962f;
    cursor: pointer;
}
.footer {
  font-size: 10px;
  margin: 0 auto;
  background: #2aabb2;
  text-align: center;
  color: white;
  padding: 4px 0;
  line-height: 20%;
  text-decoration: none;
}

.footer a {
  color: white;
}